.table-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-container table th,
.table-container table td {
  text-align: center;
}

.delete-btn {
  background-color: red;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.status-message-success {
  font-size: 14px;
  color: green;
}

.status-message-error {
  font-size: 14px;
  color: red;
}

.container-flex-forms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px !important;
  padding: 2px;
}
.open-user-form-btn {
  margin-left: 25px;
}

.action-buttons-flex-container {
  display: flex;
  gap: 8px; /* Space between buttons */
  justify-content: center; /* Center the buttons in the cell */
  align-items: center; /* Vertically align buttons */
}

.action-buttons-flex-container .delete-btn,
.action-buttons-flex-container .hobby-btn {
  width: 36px; /* Ensure buttons are squares */
  height: 36px;
  min-width: 36px; /* Prevent Material-UI from overriding width */
  padding: 0; /* Remove extra padding */
  border-radius: 0; /* Remove the circular style */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; /* Adjust text size */
}

